{% extends "base.html" %}

{% block title %}
MaratonUSP Ensina - Início
{% endblock %}

{% block content %}

<div class="home">

    <!-- HERO -->
    <section class="hero">
        <h1 class="title">MaratonUSP<br>Ensina</h1>
        <h2>
            Um guia de programação competitiva, OBI, Maratona e Mais!
        </h2>
         <div id="usaco"><i>INSPIRADO NO <a href="https://usaco.guide/">USACO GUIDE</a></i></div>
        <div class="description">
            Plataforma de estudos para maratona de programação: conteúdos,
            listas de problemas e soluções comentadas. Use o botão
            <strong>Entrar</strong> no topo para acessar a sua conta e
            acompanhar o seu progresso.
        </div>
    </section>


</div>
{% endblock %}