/* --- Layout --------------------------------------------------------------- */
.home {
    max-width: 1200px;
    width: 100%;
    margin: 40px 0; 
    padding: 0 40px;
    box-sizing: border-box;
}


.hero {
    background-color: transparent;
    border: none;
    box-shadow:none;
    padding:0;

    width: 100%;
    text-align: left;

}
.hero .title {
    font-size: 9rem;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 1rem;
    color: var(--primary);
    width: 100%;
    border: 5px solid var(--primary);
    border-radius: 10px;
}

.hero h2 {
    font-size: 2.5rem;
    margin-top: 1.2rem;
    padding: 0.5rem;
    color: var(--text);
}

.hero .description {
    color: var(--text);
    font-size: 1.1rem;
    padding: 0.5rem;
}

.hero #usaco {
    color: var(--text);
    font-size: 1.5rem;
    padding: 0.5rem;
    font-weight: 600;
}

.hero #usaco a {
    color: var(--primary);
    text-decoration: none;
}

.hero #usaco a:hover {
    text-decoration: underline;
    color: var(--text);
}


/* --- Responsivo -------------------------------------------------------------- */
@media (max-width: 768px) {
    header h1 {
        font-size: 1.6rem;
    }

    .home {
        margin: 24px auto;
    }

    .card {
        padding: 1.3rem;
    }

    .hero .title {
        font-size: 2rem;
    }

    .hero{
        padding:0;
    }
}