{% extends "base.html" %}

{% block title %}
MaratonUSP Ensina - Início
{% endblock %}

{% block content %}

<div class="home">

    <!-- HERO -->
    <section class="card hero">
        <h1 class="title">Maratonusp Ensina</h1>
        <h2>
            Um guia para programação competitiva, OBI, Maratona e mais!
        </h2>
        <p class="description">
            Plataforma de estudos para maratona de programação: conteúdos,
            listas de problemas e soluções comentadas. Use o botão
            <strong>Entrar</strong> no topo para acessar a sua conta e
            acompanhar o seu progresso. Já quer ver um tema? Comece pela
            <a href="topic.html?topic=busca_binaria">Busca Binária</a>.
        </p>
        <h3><i>Inspirado no <a href="https://usaco.guide/">USACO Guide</a></i></h3>
    </section>


</div>
{% endblock %}