{% extends "base.html" %}

{% block title %}
MaratonUSP Ensina - Nível Júnior
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="programacao_junior.css">
{% endblock %}

{% block content %}

<div class="roadmap">
    <h1>Programação Júnior</h1>
    <section class="roadmap-secao">
        <h2>Introdução à computação</h2>
        <ul>
            <li>
                <div class="container-topico">
                    <div>
                        <div class="topico-nome">
                            Introdução
                        </div>

                        <div class="barra-progresso">
                            <div class="barra-preenchida"></div>
                        </div>
                    </div>

                    <div class="progresso-nome">
                        0/7 problemas
                    </div>
                </div>
            </li>

            <li>
                <div class="container-topico">
                    <div>
                        <div class="topico-nome">
                            Input e Output
                        </div>

                        <div class="barra-progresso">
                            <div class="barra-preenchida"></div>
                        </div>
                    </div>

                    <div class="progresso-nome">
                        0/7 problemas
                    </div>
                </div>
            </li>

            <li>
                <div class="container-topico">
                    <div>
                        <div class="topico-nome">
                            Condicionais
                        </div>

                        <div class="barra-progresso">
                            <div class="barra-preenchida"></div>
                        </div>
                    </div>

                    <div class="progresso-nome">
                        0/7 problemas
                    </div>
                </div>
            </li>

            <li>
                <div class="container-topico">
                    <div>
                        <div class="topico-nome">
                            Loops
                        </div>

                        <div class="barra-progresso">
                            <div class="barra-preenchida"></div>
                        </div>
                    </div>

                    <div class="progresso-nome">
                        0/7 problemas
                    </div>
                </div>
            </li>
        </ul>
    </section>
    <section class="roadmap-secao">
        <h2>Estruturas de Dados</h2>
        <ul>
            <li>
                <div class="container-topico">
                    <div>
                        <div class="topico-nome">
                            Arrays e Matrizes
                        </div>

                        <div class="barra-progresso">
                            <div class="barra-preenchida"></div>
                        </div>
                    </div>

                    <div class="progresso-nome">
                        0/7 problemas
                    </div>
                </div>
            </li>
            <li>
                <div class="container-topico">
                    <div>
                        <div class="topico-nome">
                            Sets e Maps
                        </div>

                        <div class="barra-progresso">
                            <div class="barra-preenchida"></div>
                        </div>
                    </div>

                    <div class="progresso-nome">
                        0/7 problemas
                    </div>
                </div>
            </li>
            <li>
                <div class="container-topico">
                    <div>
                        <div class="topico-nome">
                            Ordenação
                        </div>

                        <div class="barra-progresso">
                            <div class="barra-preenchida"></div>
                        </div>
                    </div>

                    <div class="progresso-nome">
                        0/7 problemas
                    </div>
                </div>
            </li>
        </ul>
    </section>
</div>

{% endblock %}